<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

  </head>
  <body>
    <% if(error) { %>
      <p> <%= error %> </p>
    <% } %>
    <h1>Register</h1>
    <div class="form-container">
        <form method="POST" action="/register">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Submit</button>
        </form> 
    </div>
    <a href="/">
      <span>Home</span>
    </a>
  </body>
</html>



