<html>
  <head>
    <title>Link</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

  </head>
  <body>
    <h1>Link</h1>
        <a href="<%=link%>">
            <span><%=link%></span>
        </a>
  </body>
</html>



